.navbar{
    display: flex;
    justify-content: space-around;
    background-color: #222;
    padding: 1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 6em;
}

.item{
    margin-right: 1em;
}

.item a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

.item a:hover{
    
    color: #FFBB33;
}